<form  class="emp-form" #residentForm="ngForm" (ngSubmit)="onSubmit(residentForm)">
  <input  type="hidden"  *ngIf="residentService.selectedResident && residentService.selectedResident.id" name="id" #id="ngModel" [(ngModel)]="residentService.selectedResident.id">
<div class="form-row">
<div class="form-group col-md-6">
  <input  class="form-control" name="firstname" #firstname="ngModel" [(ngModel)]="residentService.selectedResident.firstname" placeholder="firstname" required>
  <div class="validation-error" *ngIf="firstname.invalid && firstname.touched">This field is Required</div>
</div>
<div class="form-group col-md-6">
  <input  class="form-control" name="lastname" #lastname="ngModel" [(ngModel)]="residentService.selectedResident.lastname" placeholder="lastname" required> 
  
  <div class="validation-error" *ngIf="lastname.invalid && lastname.touched">This field is Required</div>
</div>
<div class="form-group col-md-6">
  <input  class="form-control" name="postcode" #postcode="ngModel" [(ngModel)]="residentService.selectedResident.postcode" placeholder="postcode" required> 
  
  <div class="validation-error" *ngIf="postcode.invalid && postcode.touched">This field is Required</div>
</div>
<div class="form-group col-md-6">
  <input  class="form-control" name="phone" #phone="ngModel" [(ngModel)]="residentService.selectedResident.phone " placeholder="phone">
</div>
</div>

  <div class="form-group">
  <!--<input  class="form-control" name="flatid" #flatid="ngModel" [(ngModel)]="residentService.selectedResident.flatid" placeholder="flatid" required> -->
  <select class="form-control" name="flatid" #flatid="ngModel"  [(ngModel)]="residentService.selectedResident.flatid"  placeholder="flatid" required>
  
      <option [ngValue]="flat.id" *ngFor="let flat of residentService.flatList" >{{flat.id}}</option>
      </select>
  <div class="validation-error" *ngIf="flatid.invalid && flatid.touched">This field is Required</div>
</div>
<div class="form-group">
  <input  class="form-control" name="email" #email="ngModel" [(ngModel)]="residentService.selectedResident.houseid" placeholder="email" required> 
  
  <div class="validation-error" *ngIf="email.invalid && email.touched">This field is Required</div>
</div>
<div class="form-row">
<div class="form-group col-md-8">
  <button [disabled]="!residentForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-save"></i> Submit</button>
</div>
<div class="form-group col-md-4">
  <button type="button" class="btn btn-lg btn-block btn-secondary"(click)="resetForm(residentForm)"><i class="fas fa-redo"></i> Reset</button>
</div>
</div>

</form> 