<form  class="emp-form" #residentForm="ngForm" (ngSubmit)="onSubmit(residentForm)">
  <input  type="hidden"  *ngIf="residentService.selectedResident && residentService.selectedResident.id" name="id" #id="ngModel" [(ngModel)]="residentService.selectedResident.id">
<div class="form-row">
<div class="form-group col-md-6">
  <input  class="form-control" name="floor" #floor="ngModel" [(ngModel)]="residentService.selectedResident.floor" placeholder="floor" required>
  <div class="validation-error" *ngIf="floor.invalid && floor.touched">This field is Required</div>
</div>
<div class="form-group col-md-6">
  <input  class="form-control" name="number" #number="ngModel" [(ngModel)]="residentService.selectedResident.number" placeholder="number" required> 
  
  <div class="validation-error" *ngIf="number.invalid && number.touched">This field is Required</div>
</div>

</div>
<div class="form-group">
  <input  class="form-control" name="totalarea" #totalarea="ngModel" [(ngModel)]="residentService.selectedResident.totalarea" placeholder="totalarea" required>
  <div class="validation-error" *ngIf="totalarea.invalid && totalarea.touched">This field is Required</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
  <input  class="form-control" name="livingspace" #livingspace="ngModel" [(ngModel)]="residentService.selectedResident.livingspace " placeholder="livingspace">
</div>
<div class="form-group col-md-6">
  <input  class="form-control" name="houseid" #houseid="ngModel" [(ngModel)]="residentService.selectedResident.houseid" placeholder="houseid" required> 
  
  <div class="validation-error" *ngIf="houseid.invalid && houseid.touched">This field is Required</div>
</div>

<div class="form-group col-md-8">
  <button [disabled]="!residentForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-save"></i> Submit</button>
</div>
<div class="form-group col-md-4">
  <button type="button" class="btn btn-lg btn-block btn-secondary"(click)="resetForm(residentForm)"><i class="fas fa-redo"></i> Reset</button>
</div>
</div>
</form> 