<table class="table table-sm table-hover">
  <tr *ngFor="let resident of residentService.residentList">
    <td>Name:{{resident.firstname}} - Surname:{{resident.lastname}} - P.Code:{{resident.postcode}}</td>
    <td>Phone:{{resident.phone}} - Email:{{resident.email}} - FlatId: {{resident.flatid}}</td>
    <td>
      <a class="btn" (click)="showForedit(resident)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(resident.id)">
          <i class="fa fa-trash-o"></i>
        </a>
        <a class="btn">
          <i class="fa fa-arrow-circle-o-down" (click)="ShowInfo2(resident.flatid)"></i>
        </a>
    </td>
  </tr>
</table>
<table class="table table-sm table-hover">
  <tr>
    <td> floor:{{residentService.selectedFlat.floor}} - number:{{residentService.selectedFlat.number}} - houseid:{{residentService.selectedFlat.houseid}}</td>
    <td>totalarea{{residentService.selectedFlat.totalarea}} - livingspace:{{residentService.selectedFlat.livingspace}}</td>
  </tr>
</table>