<form  class="emp-form" #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm)">
    <input  type="hidden" class="form-control" name="Id" #Id="ngModel" [(ngModel)]="houseService.selectedHouse.Id">
<div class="form-row">
  <div class="form-group col-md-6">
    <input  class="form-control" name="Street" #Street="ngModel" [(ngModel)]="houseService.selectedHouse.Street" placeholder="Street" required>
    <div class="validation-error" *ngIf="Street.invalid && Street.touched">This field is Required</div>
  </div>
  <div class="form-group col-md-6">
    <input  class="form-control" name="City" #City="ngModel" [(ngModel)]="houseService.selectedHouse.City" placeholder="City" required> 
    <div class="validation-error" *ngIf="City.invalid && City.touched">This field is Required</div>
  </div>
  <div class="form-group">
    <input  class="form-control" name="Country" #Country="ngModel" [(ngModel)]="houseService.selectedHouse.Country" placeholder="Country" required>
    <div class="validation-error" *ngIf="Country.invalid && Country.touched">This field is Required</div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <input  class="form-control" name="Postindex" #Postindex="ngModel" [(ngModel)]="houseService.selectedHouse.Postindex " placeholder="Postindex">
  </div>
  

  <div class="form-group col-md-8">
    <button [disabled]="!houseForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-save"></i> Submit</button>
  </div>
  <div class="form-group col-md-4">
    <button type="button" class="btn btn-lg btn-block btn-secondary"(click)="resetForm(houseForm)"><i class="fas fa-redo"></i> Reset</button>
  </div>
  </div>
</form> 