<form  class="emp-form" #houseForm="ngForm">
<div class="form-row">
  <div class="form-group col-md-6">
    <input  class="form-control" name="Street" #Street="ngModel" [(ngModel)]="houseService.selectedHouse.Street" placeholder="Street">
  </div>
  <div class="form-group col-md-6">
    <input  class="form-control" name="City" #City="ngModel" [(ngModel)]="houseService.selectedHouse.City" placeholder="City">
  </div>
  <div class="form-group">
    <input  class="form-control" name="Country" #Country="ngModel" [(ngModel)]="houseService.selectedHouse.Country" placeholder="Country">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <input  class="form-control" name="Postindex" #Postindex="ngModel" [(ngModel)]="houseService.selectedHouse.Postindex " placeholder="Postindex">
  </div>
  <div class="form-group col-md-6">
    <input  class="form-control" name="Created" #Created="ngModel" [(ngModel)]="houseService.selectedHouse.Created" placeholder="Created">
  </div>
  <div class="form-group col-md-6">
    
    <input  class="form-control" name="Modified" #Modified="ngModel" [(ngModel)]="houseService.selectedHouse.Modified" placeholder="Modified">
  </div>
  <div class="form-group col-md-8">
    <button type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
  </div>
  <div class="form-group col-md-4">
    <button type="button" class="btn btn-lg btn-block btn-secondary">Reset</button>
  </div>
  </div>
</form> 