<table class="table table-sm table-hover">
         
  <tr *ngFor="let house of houseService.houseList">
    <td>Street:{{house.street}} - City:{{house.city}} - Country:{{house.country}}</td>
    <td>P.index:{{house.postindex}}</td>
    <td>
      <a class="btn" (click)="showForedit(house)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(house.id)">
          <i class="fa fa-trash-o"></i>
        </a>
        <a class="btn">
          <i class="fa fa-arrow-circle-o-down" (click)="showInfoAboutHouse(house.id)"></i>
        </a>
    </td>
  </tr>
</table>
<table class="table table-sm table-hover">
    <tr>
    <td>Flats:</td>
  </tr>
  <tr *ngFor="let flat of houseService.SourtedFlats">
    <td>Floor:{{flat.floor}} - Number:{{flat.number}} - Total Area:{{flat.totalarea}}</td>
    <td>Liv.Space{{flat.livingspace}} - House Number:{{flat.houseid}}</td>
    <td>
        <a class="btn">
          <i class="fa fa-arrow-circle-o-down" (click)="showInfoAboutFlat(flat.id)"></i>
        </a>
    </td>
  </tr>
  
</table>
<table class="table table-sm table-hover">
    <tr>
        <td>Residents:</td>
      </tr>
    <tr *ngFor="let resident of houseService.SourtedResidents">
      <td>Name:{{resident.firstname}} - Surname:{{resident.lastname}} - P.Code:{{resident.postcode}}</td>
      <td>Phone:{{resident.phone}} - Email:{{resident.email}} - FlatId: {{resident.flatid}}</td>
    </tr>
  </table>