<table class="table table-sm table-hover">
  <tr *ngFor="let flat of flatService.flatList">
    <td>Floor:{{flat.floor}} - Number:{{flat.number}} - Total Area:{{flat.totalarea}}</td>
    <td>Liv.Space{{flat.livingspace}} - House Number:{{flat.houseid}}</td>
    <td>
      <a class="btn" (click)="showForedit(flat)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(flat.id)">
          <i class="fa fa-trash-o"></i>
        </a>
        <a class="btn">
          <i class="fa fa-arrow-circle-o-down" (click)="ShowInfo2(flat.houseid)"></i>
        </a>
    </td>
  </tr>
</table>

<!--<table class="table table-sm table-hover">
  <tr *ngFor="let house of flatService.houseList1">
    <td> Street:{{house.street}} - City:{{house.city}}</td>
    <td>Country{{house.country}} - postindex:{{house.postindex}}</td>
  </tr>
</table>-->